@charset "UTF-8";
/* CSS Document */

/* core styles */

h3.sectiondivider {	
	border-top: 4px double #ddd;
	margin-bottom: -10px;	
}

.shadowline {
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
	border-bottom: #aaaaaa 1px solid;
	margin-bottom: 20px;
    padding-bottom: 5px;	
}

h3.sectiondivider span {	
	padding: 0 10px;
	background-color: #fff;	
	position: relative;
	top: -20px;
	font-family: "merriweather",georgia,times new roman,serif;
}


#free_form .checked {
	background: url("/FO/images/sprite.png") no-repeat 100% 0 transparent;
    display: block;
    height: 112px;
    margin: 0 auto;
    text-align: center;
    text-indent: -9999px;
    width: 112px;
}

h4 {
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;	
}

.pull-center {
text-align: center;	
}
	
	  header {
		background: url("/FO/images/bg-nav.png") repeat scroll 0 0 #282828;
		border-bottom: 1px solid #000;  
	  }
	  
	  header .btn-mini{
		border-radius: 20px;  
	  }
	  
	  .nav li > a.btn-mini{
		padding: 5px 10px;
		margin-right: 15px;  
		font-weight: bold;
		font-size: 12px;
		color: #222222;
		text-shadow:none;
	  }
	  
	  .nav li > a.btn-mini.btn-primary{
		color: #fff;
	  }
	  
	    .nav li > a:hover.btn-mini.btn-primary, .nav li > a:focus.btn-mini.btn-primary{
		background-color: #3c7ee7;
		color: #fff;   
	   }
	  
	   .nav li > a:hover.btn-mini, .nav li > a:focus.btn-mini{
		background-color: #e6e6e6;
		color: #222222;   
	   }
	   
	   .nav li > a.btn-mini.btn-login {
		border: 1px solid #444; border-radius: 30px; background: transparent; color: #999; font-weight: normal; box-shadow: none;   
	   }
	   
	footer ul{list-style: none outside none; }
	footer ul li{float: left; display: inline; margin-left: 15px;}
	footer a {color: #888;  font-size: 12px;}
	
	#logo,.flag {
		max-width:none;
	}
	  
	  #logo{
		background: url("/FO/images/edit-place_logo.png") no-repeat 1px 1px transparent;
    	display: block;
    	height: 32px;
    	width: 197px;  
	  }
	
	/*  flag  */
	
	.flag {
	width: 16px;
	height: 11px;
	background:url("/FO/images/flags_17.png") no-repeat;
	margin-left: 5px;
	display: inline-block;
}

.flag.flag-br {background-position: -16px 0}
.flag.flag-cn {background-position: -32px 0}
.flag.flag-de {background-position: -48px 0}
.flag.flag-dk {background-position: -64px 0}
.flag.flag-es {background-position: 0 -11px}
.flag.flag-fi {background-position: -16px -11px}
.flag.flag-fr {background-position: -32px -11px}
.flag.flag-gb {background-position: -48px -11px}
.flag.flag-it {background-position: -64px -11px}
.flag.flag-jp {background-position: 0 -22px}
.flag.flag-nl {background-position: -16px -22px}
.flag.flag-no {background-position: -32px -22px}
.flag.flag-pl {background-position: -48px -22px}
.flag.flag-pt {background-position: -64px -22px}
.flag.flag-ru {background-position: 0 -33px}
.flag.flag-se {background-position: -16px -33px}
.flag.flag-us {background-position: -32px -33px}

	
.alert-success {
    background-color: #4790FF;
    border-color: #D6E9C6;
    border-width: 0;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
} 

.help-block, .help-inline {
    font-size: 11px;
	line-height:1.4em;
}


.btn.disabled.anchor-top {
	cursor: pointer;	
}

/* Login */

#login label.remember {
	font-size: 11px;
	margin-bottom: 20px;
	margin-top: -15px;	
}

#login label, #lost-password label, #change-password label {
	margin: 0;
}
	  
	  
/* core styles  */
	  
	 /* homepage */
	    
	  #marketing {
		background: #3a3a3a url("/FO/images/hero-bg.png");  
		border-top: 1px solid #444;
	margin-bottom: 65px;
    padding-bottom: 40px;
	position: relative;
	  }
	  
	#marketing .freequote {
	position: absolute; 
	z-index: 100; 
	bottom: -63px; 
	background: url("/FO/images/sprite.png") no-repeat 0px -350px transparent;
	height: 140px; 
	width: 140px; 
	text-indent: -9999px; 
	left: 46%;
	}
	  
	   #marketing .container {
		background: transparent url("/FO/images/brouillard-marketing.png") no-repeat center top;  
	  }
	  
	  #marketing h1 {
		  font-family: 'Merriweather', georgia, Times New Roman, Serif;
		  font-size: 24px;
		  font-weight: 300;
		  color: #ffffff;
		  text-align: center;
		  padding: 30px 0;
		  text-shadow: 0 -2px 0 #000000;
	  }
	  
	  #marketing h1 span{
	   border-bottom-width: 5px;
	   border-bottom-style: solid;
	   cursor: pointer;
	  }
	  
	  #marketing h1 span#redaction{
	   border-color: #5e8c21;
	  }
	  
	  #marketing h1 span#traduction{
	   border-color: #c2630f;
	  }
	  
	  #marketing h1 span#seo{
	   border-color: #ae1111;
	  }
	  
	  #web-writer {
		position: relative;
		background: url("/FO/images/map.png") no-repeat 50% 0; 
		height: 300px; 
	  }
	  
	  #web-writer h3 {
		color: #FFFFFF;
		font-size: 23px;
		font-weight: 300;
		margin-top: 80px;
		padding: 0 100px;
		text-align: center; 
	  }
	  
	  #web-writer #langlist{
		position: absolute;
		z-index: 100;
		top: 61%;
		left: 19%;  
	  }
	  
	  
	#partner{
	box-shadow: 0 32px 20px -17px rgba(0, 0, 0, 0.4);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.04);
	padding: 10px 0;	  
	  }
	  
	 #partner h4 {
		 color: #979797;
		 text-shadow: 0 -1px 0 #000;
	 }
	 
	 #partner img {
		 margin: 5px 0 0 15px;
		 
		 }
		 
	/* Quote promotion */
	
	#quote-promote {
	background: url("/FO/images/quote-promote-bg.jpg") no-repeat scroll center 57px transparent;
	padding: 30px 0 68px;
	}
	
	#quote-promote #premium, #quote-promote #liberte {
	padding: 20px 45px;
	}
	
	#quote-promote #liberte a:hover button {
	text-decoration: none;
	}
	
	#quote-promote #premium .btn-large {
    padding-bottom: 0;
}
	
	#quote-promote header, #stats header {
	text-align: center;	
	position: relative;
	background: none;
	border-bottom: none;
	}
	
	
	#quote-promote h2, #free_form h1 {
	font-size: 37px;
	text-transform: uppercase;
	line-height: 48px;
	margin-bottom: 20px;
	color: #000;
	}
	
	#quote-promote h2 span, #free_form h1 span {
	font-size: 57px;
	font-weight:700;
	display: block;
	color: #00a1a7;
	}
	
	#quote-promote #premium h2 span {
	color: #f47d31;
	}
	
	#quote-promote small, #free_form small {
	font-family: 'Merriweather', georgia, Times New Roman, Serif;
	font-size: 20px;
	font-weight: 300;
	display: block;
	margin-bottom: 20px;
	color: #000000;
	line-height: 26px;
	}
	
	#quote-promote ol {
		margin-bottom: 20px;
		}
		
	#quote-promote ol li {
		margin-bottom: 20px;
		font-size: 14px;
		}
		
	#quote-promote ul {
		margin-bottom: 20px;
		margin-left: 0px;
		list-style: none outside none;
		}
		
	#quote-promote #premium ul li {
		margin-bottom: 20px;
		position: relative;
		padding-left: 25px;
		font-size: 14px;
		}
		
	ul.garanties-list li {
		margin-bottom: 10px;
		position: relative;
		padding-left: 25px;
		font-size: 13px;
		}	
		
	#quote-promote #premium ul li span.more, ul.garanties-list li span.more {
		position: absolute; left: 0; font-size: 25px; font-weight: 300; color: #f47d31;
	}	
		
	#quote-promote button {
		position: relative;
		}	
		
	#quote-promote button h4 {
		margin-bottom: 0px;
		color: #1b3258;
		text-shadow: none;
		}
		
	#quote-promote button h4:before {
		border-top: 4px double #1b3258;
		content: "";
		height: 40px;
		left: 27%;
		position: absolute;
		top: 50px;
		width: 40px;
		}	
		
		
#quote-promote button h4:after {
		border-top: 4px double #1b3258;
		content: "";
		height: 40px;
		left: 65%;
		position: absolute;
		top: 50px;
		width: 40px;
		}
		
	#quote-promote #premium button h4 {
		color: #999;
		}		
		
	#quote-promote #premium button h4:before {
		border-top-color: #ccc;
		left: 22%;
		width: 40px;
		}	
		
		
#quote-promote #premium button h4:after {
		border-top-color: #ccc;
		left: 70%;
		width: 40px;
		}
		
#callus {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	text-align: center;
	font-weight: 700;
	margin-top: -6px;	
}

#callus h3 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 15px;	
}
	
	#about {
	background-color: #e6e6e6;
	box-shadow: 0 48px 16px -30px rgba(0, 0, 0, 0.1) inset;	
	}
	
#about .carousel {
	height: 620px;
	}
	
#about .carousel-indicators {
    display: inline-block;
    left: 48%;
    margin: 20px auto 36px;
    position: relative;			
}

#about h3.sectiondivider span {
    background-color: #E6E6E6;
	line-height: 1.5em;
}

#about .speaking .flag:first-child {margin-left: 0;}

#about .carousel-control {
  background-color: #222222;
    border: 4px solid #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    color: #CCCCCC;
    font-size: 36px;
    height: 40px;
    left: 150px;
    line-height: 30px;
    margin-top: -20px;
    top: 6%;
    width: 40px;	
}

#about .carousel-control.right {
    left: auto;
    right: 150px;
}

#about .nav-pills > .active > a, #about .nav-pills > .active > a:hover {
    background-color: #E6E6E6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
    color: #333333;
}

#about .media { border-bottom: 0;}

/* stats */

#stats {
	background: url("/FO/images/hero-bg.png") #3A3A3A;
	padding: 30px 0;
	margin-bottom: 20px;
}

#stats header {
margin-bottom: 15px;	
}


#stats span {	
	border-left: 1px solid #555555;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    margin-left: 0;
    text-align: center;
}

#stats span:first-child {	
	border-left-width:0;
}

#stats span p {
	font-size: 70px;
	font-family: "open sans condensed", helvetica neue, helvetica, arial, sans serif;
    letter-spacing: -2px;
    line-height: 60px;
}

#stats h3.sectiondivider {	
	border-top: 4px double #4e4e4e;	
}

#stats h3.sectiondivider span {	
	background-color: none;
	background-image: url("/FO/images/hero-bg.png");
	font-family: Merriweather;
	color: #999;
	font-size: 27px;
	font-weight: 300;
		
}
	
	/* homepage */
	
	/* free_form */
	
#free_form .container {
	background: url("/FO/images/free_form-bg.jpg") no-repeat right -29px;
	padding: 30px 0	
}

#free_form h1 {
	padding-top: 25px;
	margin-bottom: 10px;
	}

#free_form h1 span {
	display: inline-block;
	}
#free_form .freequote{
	background: url("/FO/images/sprite.png") no-repeat scroll 0 -350px transparent;
    height: 140px;
    position: absolute;
    right: 5%;
    text-indent: -9999px;
    top: 0;
    width: 140px;
    z-index: 100;
}
	
#free_form .border{
	background: #FFFFFF;
    border: 8px solid #DBF2F3;
    box-shadow: 0 0 1px #1CABB1;
    padding: 20px;
}

/*  Contrib module  */
#contrib-table .mod .overflow {
	overflow-y: auto;
	max-height: 350px;	
}

#contrib-table .media {
	width: 80px;	
}

#contrib-table .checkall {
	margin-left: 8px;	
}



#state, #state2 {
border-bottom: 1px solid #ccc;
 margin: 30px 50px 30px 0;
 overflow: hidden;	
}

#state ul li {
	float: left;
	width: 33%;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0 10px;
	opacity: 0.5;	
}

#state2 ul li {
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0 10px;
	opacity: 0.5;	
}

#state ul li.hightlight, #state2 ul li.hightlight {
	border-bottom: 2px solid #000;
	opacity: 1;
	color: #000000;	
}

#state ul li span, #state2 ul li span {
    background: url("/FO/images/sprite.png") no-repeat scroll 1px -33px transparent;
    padding: 28px 0 8px 42px;
}

#free_form #state ul li span.online {
    background-position: 1px -70px;
}

#free_form #state ul li span.writer_select {
    background-position: 1px -114px;
}

#free_form small {
	line-height: 28px;
	color: #000000;	
}

#fixquotetime .span8, #fixdelivery .span8 {
	margin-top: 5px;
}


/* right column */

#free_form #brief-help {
/* Fallback for web browsers that doesn't support RGBa */
background: rgb(235, 235, 235);
background: rgba(0, 0, 0, 0.08);
}
#free_form #brief-help h4 {
	background: rgb(178, 178, 178);
	background: rgba(0, 0, 0, 0.3);
	margin-top: -28px;
	padding: 3px 5px;
	text-align: center;
	color: #000;
	transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
}

#free_form #premium-ad, #free_form #brief-help, #garantee {
padding: 15px 20px;
margin-top: 15px;
}

#free_form #premium-ad{
 	background: url("/FO/images/hero-bg.png") repeat scroll 0 0 #3A3A3A;
    box-shadow: 0 13px 9px -8px #999;
    color: #f3f3f3;
	opacity: 0.95;
}

#free_form #premium-ad h4 span{
    color: #F47D31;
	font-size: 200%;
	
}

.container-field {
	border: 1px solid #e5e5e5;
	padding: 10px 10px 2px;
	background: #f5f5f5;
	margin-top: 10px;	
}

.container-field label, .container-field select {
	font-size: 12px;	
}


#garantee dt {
    color: #000000;
    font-weight: bold;
    margin-left: 29px;
    margin-top: 26px;
    position: relative;
}


#garantee dt span {
	   background: url("/FO/images/sprite.png") no-repeat scroll -1px -165px transparent;
    display: inline-block;
    height: 34px;
    left: -35px;
    position: absolute;
    top: -6px;
    width: 28px;
}


#garantee dt span.locked {
	background-position: -1px -203px;
}

#garantee dd {
	margin-left: 29px;
	color: #666;
}

#garantee dl {
	margin: -15px 0 15px;
}

/* corporate */
.corporate #tagline {
	background: url("img/hero-bg.png") repeat #3A3A3A;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #444444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    padding: 20px 0 10px;	
}

.corporate #tagline p{
 color: #AAAAAA;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
	font-family: "Merriweather", georgia, serif;
}


/* premium */
#presentation {
	background: #3a3a3a url("/FO/images/hero-bg.png");  
	border-top: 1px solid #444;
    padding-bottom: 40px;
	position: relative;
	  }
	  
#presentation .container {
		background: transparent url("/FO/images/brouillard-marketing.png") no-repeat center top;  
	  }
	  
#presentation h1 {
	font-size: 80px;
    font-weight: bold;
	color: #f47d31;
	text-transform: uppercase;
	position: relative;
	padding-top: 60px;
	text-align: center;
	  }
	  
#presentation h1 span {
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	position: absolute;
	top: 18px;
	margin-left: 5px;
	  }	
	  
#presentation .baseline{
	position: relative;
	color: #f6f6f6;
}

#presentation div.baseline:before, #presentation div.baseline:after{
	background: url("/FO/images/sprite-premium.png") no-repeat scroll -1px -74px transparent;
    content: "";
    height: 90px;
    position: absolute;
    top: 0;
    width: 36px;	
}

#presentation div.baseline:after{
	background-position: -60px -74px;
    right: 0;
}

#presentation .baseline h2{
	font-family: "Merriweather", georgia, serif;
	font-size: 24px;
	padding-top: 20px;
    text-align: center;
	font-weight: 300;
}

#presentation .baseline h2 em{
	font-family: "open sans", "Helvetica neue", helvetica, arial, sans-serif;
	font-size: 16px;
	display: block;
	font-style:normal;
	font-weight: 300;
}

#presentation .call_us{
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#presentation .call_us i{
	width: 70px; 
	height: 70px;
	background-color: #282828;
	display: inline-block;
}

#presentation .call_us .icon-email-us, #presentation .call_us .icon-call, .wedo .icon-redac,  .wedo .icon-trad,  .wedo .icon-desc,  .wedo .icon-content, .icon-link-rounded, .icon-tw-rounded, .icon-fb-rounded {
	background-image: url("/FO/images/sprite-premium.png");	
	background-repeat: no-repeat;
}

#presentation .call_us .icon-email-us {
	background-position: 9px 22px;
    height: 48px;
    width: 52px;
}

#presentation .call_us .icon-call {
	background-position: 6px -23px;
    height: 49px;
    margin-top: 13px;
    width: 37px;	
}

#presentation .call_us .call {
	display: inline-block;
    position: relative;
    top: 26px;
	left: 15px;	
}

#presentation .call_us .call a {
	color: #fff;	
}

#presentation .call .notabene {
	color: #B2B2B2;
    font-size: 12px;
    font-weight: normal;
    margin: 12px 5px 0;
    text-align: right;
}

#premium_nav {
	background: #f88c48 url("/FO/images/noise-o-bg.png");
	border-bottom: 1px solid #d66720;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15);
	text-align: center;	
	}
	
	#premium_nav.affix {
	width: 100%;
	z-index: 1000;
	top: 0;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);	
	}
	

#premium_nav li {
	display: inline-block;
	font-size: 14px;
	font-weight:bold;
	text-transform: uppercase;
	margin-right: 20px;
	}
	
#premium_nav li a:link, #premium_nav li a:visited {
	color: #fff;
	}
	
#premium_nav li:last-child{
	margin-right: 0;
	}	
	
#premium_nav li a:hover {
	color: #333;
	text-decoration: none;
	}
	
.wedo {padding: 40px 0;}
.wedo.inverse {
	background: url("/FO/images/noise-bg.png") repeat scroll 0 0 #E6E6E6;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;	
}
.wedo h3 {font-size: 27px;}
.wedo p.desc {font-size: 16px; font-weight: 300; color: #666; line-height: 26px}

.wedo .icon-redac {
	background-position: -290px 12px;
    height: 211px;
    width: 211px;
}

.wedo .icon-trad {
	background-position:-290px -214px;
    height: 211px;
    width: 211px;
}

.wedo .icon-desc {
	background-position:-290px -443px;
    height: 211px;
    width: 211px;
}

.wedo .icon-link-rounded, .wedo .icon-tw-rounded, .wedo .icon-fb-rounded
{
	background-position: -2px -190px;
    height: 72px;
    width: 72px;	
}

.wedo .icon-tw-rounded
{
	background-position: -80px -190px;	
}

.wedo .icon-fb-rounded
{
	background-position: -161px -190px;	
}

.wedo hr.hr {
border-color: #333; border-width: 1px 0 0; width: 50px; text-align: center; margin: 0 auto -20px auto;	
}

.vcard.ep_contact {
	position: relative;
	margin-top: 30px;
}

.vcard.ep_contact:after {
	 background: url("/FO/images/sprite-premium.png") no-repeat scroll 0 -413px transparent;
    content: "";
    height: 34px;
    left: 81px;
    position: absolute;
    top: -12px;
    width: 293px;
}

#tarifs .vcard.ep_contact:after {
	background-image: none;
}

#garanties .media {
    border-bottom: 1px dotted #CCCCCC;
    padding: 5px 0 10px;
}


.vcard.ep_contact .btn-group {
margin-top: 10px;
}

.vcard.ep_contact img.photo {
	padding: 3px 0 0 4px;	
}

.vcard.ep_contact .adr {display: none;}
.vcard.ep_contact a.fn {font-family: "Merriweather", "Times New Roman", Times, serif; font-size: 15px; color: #333}
.vcard.ep_contact .btn-link { padding: 0 10px 0 0; }

#boost {
	border-bottom: 1px solid #CCCCCC;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 20px;
	}
	
#boost span.more {
	color: #F47D31;
    display: block;
    font-size: 30px;
    margin-top: 5px;
	}		

/***** Client area ******/

.secondnav-on header { 
	border-bottom-width: 0;
	background: url("/FO/images/bg-doublenav.png") repeat-x #282828;
}


.secondnav-on .navbar { 
	background-image: none;
}


#secondary-nav .nav {
	margin-top: 4px;	
}

#secondary-nav .nav li a, #secondary-nav .brand {
	font-weight: 700;
    text-transform: uppercase;
	color: #666666;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	font-size: 13px;
}

#secondary-nav .nav li a {
	padding: 8px 20px 10px 0;	
}

#secondary-nav .nav li a.active {
	color: #000;	
}


#secondary-nav .nav li a:hover {
	color: #000;	
}



.secondnav-on h1 {
    font-size: 38.5px;
    font-weight: 300;
    margin: 25px 0;
}


.media {
	border-bottom: #eee 1px solid;
	padding: 10px 15px 0;	
}

.media .comment {
	margin-bottom: 15px;
	border: 1px dashed #aaa;
}

.media-heading {
	font-family: "merriweather",helvetica neue,helvetica,arial,sans-serif;
    font-size: 17px;
    font-weight: 300;
	text-transform:none;
}

.media-body {
padding-right: 15px;	
}

.media.editplace-write{
	background-color: #F5F5F5;	
}

.media-object {
	margin: 3px 0 0 10px;	
}

#timeline img.media-object {
	width: 60px;
	height: 60px;	
}

.media a.imgframe, .profilehead-mod .profile-name a.imgframe, .ep_contact a.imgframe{
background: url(/FO/images/imgframe.png) no-repeat; width: 80px; height: 76px;	
}

#timeline .client .container-logo {
	display: table-cell;
    height: 60px;
    overflow: hidden;
   padding: 3px 0 0 10px;
    vertical-align: middle;
    width: 60px;
}

#timeline .client .container-logo img.max {max-height: 60px; max-width: 60px;}

.ep_contact a.imgframe {
	background-position: -6px 0;	
}


#quote-selection .profilehead-mod {
	border: 0;
	box-shadow: none;
	margin-top: 0;	
}

.quote-cta {
	text-align: center;
	padding: 20px;	
}

.quote-cta .quote-price {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 20px;
}

.quote-cta #garantee {
 text-align: left; border-top: 1px dotted #aaa; padding-bottom: 0;
}


/**** aside styles   ****/

.aside-bg {
	background: #f5f5f5;
	padding: 5px;
	border-radius: 4px;
}

.aside-block{
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E4E4E4 #E4E4E4 #BBBBBB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.086);
    margin-bottom: 15px;
    padding: 12px;
}

.aside-block:last-child {
	margin-bottom: 0;	
}


.aside-block h4{
text-align: center;	
}

#quote-ongoing h4{
	height: 40px;
	background: url("/FO/images/sprite.png") no-repeat scroll 0px -257px transparent;
	padding: 15px 0 0 60px;	
}


#selected-editor {
	
}

#selected-editor .editor-container{

}

#quote-listing-table .media {
	border-bottom: 0;
}

#quote-listing-table td.title a {
	font-weight: bold;
}
#quote-listing-table td.title .muted {
font-size: 11px;
}


/******  editor promotion ******/

.editor-container {
	padding: 15px 5px;
	text-align: center;
	font-size: 11px;
	transition: background 0.3s ease 0s;
	-webkit-transition:background 0.3s ease 0s;
}

.editor-container .price {
	font-weight: 700;
	font-size: 27px;
	margin: 10px 0 5px 0;
}


.editor-container .editor-name {
	font-weight: 300;
	font-size: 17px;
	font-family: "Merriweather", Helvetica neue, helvetica, arial, sans-serif;
	margin-top: 10px;
}


.editor-container img {
	border: 12px solid #FFFFFF;
    box-shadow: 0 6px 16px -10px rgba(0, 0, 0, 0.4);
    margin-top: 6px;
	width: 90px;
	height: 90px;	
}

.editor-container .imgframe-large {
width: 122px; display: inline-block; background: url("/FO/images/imgframe-large.png") no-repeat scroll 0px 3px transparent; margin-bottom: 15px; height: 124px;
}

.editor-container:hover {
	background-color: #ededed;
	box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.editor-container.disable {
	opacity: 0.5;
}

#known-users{
margin: 30px 0;	
}

.row-fluid .span4.marginleft0 {
	margin-left: 0;	
}

/**** status  ****/

#state2 ul li span.writer_select {
    background-position: 1px -114px;
}

#state2 ul li span.ongoing {
    background-position: 8px -483px;
}

#state2 ul li span.cb {
    background-position: 1px -519px;
}

#state2 ul li span.dld {
    background-position: 1px -551px;
}

#state2 ul li span.bid-selection {
    background-position: 1px -780px;
}

#state2 ul li span.contract {
    background-position: 1px -820px;
}


#state2 ul li span.participant-ok {
    background-position: 1px -865px;
}


/*****  summary  *****/
  #summary { 
    
    border-radius: 4px;
    padding: 0 20px;
    color: #fff;
    margin-bottom: 25px;
	border: solid 1px #000;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.82);	
	background: url("/FO/images/hero-bg.png") repeat #3A3A3A;
  }


   #summary h1{
    font-size: 27px;
	margin: 15px 0;
    }

 #summary h1 span{
    font-size: 20px;
    font-weight: 700;
    display: block;
    }

.stat .num-large {
    font-size: 30px;
    font-weight: 300;
    }
	
.stat .num-large.less24 {
    color: #F47D31;
    }	

.stat {
	text-align: center; 
	padding: 15px 0 15px 20px;
	border-left: 1px solid #555; 
	}
	
.icon-comment-large {
    background: url("/FO/images/sprite.png") no-repeat -371px -557px transparent;
    font-family: "open sans condensed", helvetica, arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 42px;
    margin-top: 12px;
    padding-top: 9px;
    width: 48px;
}

.icon-comment-large a {
	color: #fff;
}


.icon-comment-large.new {
	background-position: -451px -557px;
}
	
	
/***** sortby   **/
.filtering {
	border: 1px solid #ccc;
	padding-left: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.085);
	position: relative;
	margin-bottom: 15px;
	border-radius: 3px;
}

.filtering .title {
font-weight: bold; padding-top: 6px;	
}

.filtering .arrow-filtering {
width: 50px;
height: 60px;
	position: absolute;
	z-index: 100;
	background: url("/FO/images/sprite.png") no-repeat -442px -163px transparent;
	top: 14px;
	left: -6px; 
}

#we-trust ul li{
	text-align: center;
	margin-top: 20px;	
}

/***  workflow  ***/

  
#contributor #summary h1 {
    font-size: 24px;
	font-weight: bold;
    letter-spacing: -1px;
    margin: 10px 0;
}

#contributor #summary span.label {
margin-top: 15px;
}


#file-management {
	margin: 5px 0 40px;	
}

.file-management-cont {
	border-color: #DDDDDD #DDDDDD #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 20px 12px -18px rgba(0, 0, 0, 0.35), 0 1px 0 #fff inset;
    min-height: 200px;
    padding: 25px 0;
	border-radius:4px 4px 0 0;
	background: rgb(246,245,242);

background: -moz-linear-gradient(top,  rgba(246,245,242,1) 50%, rgba(229,229,229,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(246,245,242,1)), color-stop(100%,rgba(229,229,229,1)));
background: -webkit-linear-gradient(top,  rgba(246,245,242,1) 50%,rgba(229,229,229,1) 100%);
background: -o-linear-gradient(top,  rgba(246,245,242,1) 50%,rgba(229,229,229,1) 100%);
background: -ms-linear-gradient(top,  rgba(246,245,242,1) 50%,rgba(229,229,229,1) 100%);
background: linear-gradient(to bottom,  rgba(246,245,242,1) 50%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f2', endColorstr='#e5e5e5',GradientType=0 );
}

.file-management-cont table{
	background-color: #fff;
}


.file-management-cont  table td:first-child{
	font-size: 17px;
}

.file-management-cont td {
vertical-align : middle;
}


#file-management .inbox, #file-management .outbox {
 background: url("/FO/images/sprite.png") no-repeat scroll -440px -268px transparent;
    display: inline-block;
    height: 60px;
    margin: -16px 0 5px;
    padding-right: 30px;
    width: 60px;	
}

#file-management .empty-box {
	margin: 15px auto 10px;
	background: url('/FO/images/sprite.png') no-repeat -321px -891px;
	width: 180px;
	height: 120px;	
}


#file-management .outbox {
    background-position: -440px -352px;
}

#file-management .inbox .badge, #file-management .outbox .badge{
	font-style: normal;
	left: 50px;
	top: 25px;
	position: relative;
}

/* corrector */

.icon_corrector {
	background: url(/FO/images/sprite.png) no-repeat -180px -913px;
	width: 108px;
	height: 73px;
	margin: 0 auto;
}



#purchase td.price {
	text-align:right;
}

#purchase td.totalprice {
	font-weight: bold;
	font-size: 17px;
}

/* client profile */
#company-logo {
	border: 1px dotted #ccc; border-left: 0; border-right: 0;	
}

#company-logo img.logo {
margin-top: 20px; padding: 5px; border: 1px solid #ddd; border-bottom-color: #bbb; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#company-logo .twitter-input {
	 margin: -2px 5px 0 0;
}

/* modal custom */

.modal {
    position: absolute;
}

.modal.fade.in {
    top: 40%;
}

.modal .lft, .modal .rgt {
    background-color: #444;
    border: 4px solid #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 42px;
    height: 30px;
    margin: 0 auto;
    padding: 15px 20px;
    position: absolute;
    left: -3%;
    text-align: center;
    text-decoration: none;
    top: 25%;
    width: 20px;
    z-index: 500000;	
}

.modal .lft:hover, .modal .rgt:hover {
    background-color: #000;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}

.modal .rgt {
    left: 97%;
}

/****** CONTRIBUTOR   *******/

body#contributor{

background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 150px, rgba(246,245,242,1) 300px);
background: -webkit-gradient(linear, left top, left bottom, color-stop(150px,rgba(255,255,255,1)), color-stop(300px,rgba(246,245,242,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 150px,rgba(246,245,242,1) 300px);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 150px,rgba(246,245,242,1) 300px);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 150px,rgba(246,245,242,1) 300px);
background: linear-gradient(to bottom, #FFFFFF 150px, #f6f5f2 300px) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f5f2',GradientType=0 );
}

.mod {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E4E4E4 #E4E4E4 #BBBBBB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.086);
    margin-bottom: 15px;
    padding: 12px;
	overflow: hidden;	
}


td.countdown {
	font-weight: 300;
	text-transform:uppercase;
}

td.countdown em {
	font-size: 24px;
	font-style: normal;
}

.label-quote-premium { background-color: #c1b46c}
.label-premium { background-color: #f47d31}
.label-correction { background-color: #996666}
.label-quote { background-color: #00a1a7}

.label-quote-premium, .label-premium, .label-quote, .label-correction {
    font-size: 10px;
    letter-spacing: 0.03em;
    text-shadow: none;
    text-transform: uppercase;	
}

#browse-by-cat ul {
	height: 250px;	
	overflow:auto;
}

.homepage #quick-classified .mod {
	height: 315px;	
	overflow:hidden;
}

#quick-classified .icon-waiting-quote{
    background: url("/FO/images/sprite.png") no-repeat 0 -257px transparent;
    height: 50px;
	width: 50px;
	display: block;
	margin-right: 35px;
	opacity: 0.4;
	transition: opacity 0.3s ease 0s;
 }
 
 #quick-classified .icon-waiting-quote:hover{
	opacity: 1;
 }


.profilehead-mod {
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.085);
    margin: 25px 0;
    padding: 0 20px;
	overflow: hidden;
	border-color: #CCCCCC #CCCCCC #AAAAAA;	
}

.profilehead-mod .stat {
    border-left: 1px solid #ccc;
	height: auto;
}

.profilehead-mod .progress {
    height: 12px;
	margin-bottom: 10px;
}

.profilehead-mod .stat .num-large a  {
	color: #333;
	transition: color 0.3s ease 0s;
}

.profilehead-mod .stat .num-large a:hover, .profilehead-mod .profile-name h3 a:hover {
	color: #0070cc;
	text-decoration: none;
}


.profilehead-mod .profile-name  {
padding-top: 15px;
}

.profilehead-mod .profile-name h3 {
	font-family: 'Merriweather', georgia, serif;
	font-weight:300;
}


.profilehead-mod .profile-name h3 a {
	color: #000;
}

.profilehead-mod .profile-name a.imgframe {
margin-right: 10px;	
}

#logo-extranet{
	 background: url("/FO/images/sprite.png") no-repeat scroll 1px -621px transparent;
    display: block;
    height: 32px;
    width: 272px; 
	  }


aside#participation .aside-bg {
	background-color: #eee;
    border: 1px solid #AAAAAA;
}
 
#participation .mission h3 {
padding: 5px 10px;	
}

	
#classified .filter-container {
	padding: 0 5px; border: 1px solid #ddd;
	border-radius: 4px 4px 0 0px;
	border-bottom-width: 0;
}

#classified  .title a {
	font-size: 16px;
	font-weight:bold;
}

#classified  td.title p {
	font-size: 11px;
	font-weight: normal;
}

#classified .table th a {
    color: #666666;
    font-size: 11px;
	font-weight: normal;
}

#classified td.title a:hover {
	text-decoration: none;
}

.table th.pc, .table td.pc {
	text-align: center;
}

/*** contributor help section ***/

#getstarted {
	border: 0 none;
    margin-top: 15px;
    overflow: hidden;
}

#getstarted ul {
	margin-top: 5px;
}

#getstarted li {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

#getstarted ul li i.icon-ok {
	margin-right: 10px;
}

#getstarted p.pull-right {
	margin: 10px 100px 0;	
}



#help .label, #help .badge {
    vertical-align: top;
}

#help .nav-pills > li > a {
    color: #666;
    opacity: 0.5;
    padding-top: 80px;
	margin-right: 30px;
    position: relative;
    text-align: center;
    transition: opacity 1s ease 0;
    width: 118px;
}

#help .nav-pills > .active > a, #help .nav-pills > .active > a:hover {
	background-color: #EEEEEE;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    opacity: 1;
}

span.licon {
	background: transparent url("/FO/images/sprite.png") no-repeat scroll 0 -720px;
	display: block;
    height: 56px;
    left: 31%;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 56px;
}

span.licon.licon-file {
	background-position: 0 -720px;
}


span.licon.licon-participant {
	background-position: -107px -720px;
}

span.licon.licon-timing {
	background-position: -216px -720px;
}

span.licon.licon-pricing {
	background-position: -320px -720px;
}


span.licon.licon-selection {
	background-position: -428px -713px;
}


.profile-name blockquote{
	border-left-width: 0;
	border-top: 1px dotted #bbb;
	padding: 10px 45px 0 0;
	font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}

.profile .profilehead-mod .stat {
height: auto;
border-left-color: #eee;	
}

.profile dt{
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top: 10px;
}

.profile dt:first-child {
	border-top-width: 0;
	margin-top: 0;
	padding-top: 0;
}


.profile .company{
	text-transform: uppercase;		
}

.skillstat {
		margin-top: 15px;
}

.addmore .skillstat {
		margin-top: 0;
}


.skillstat:fisrt-child {
		margin-top: 0;
}

.skillstat .progress {
		height: 12px;
		margin-bottom: 5px;
}

.skillstat .legend {
		font-size: 11px;
}

.contractform{
	overflow: auto;
	height: 300px;
}

#skills-form {
	
}

#changePicture .editor-container {
    padding: 0;
	padding-left: 10px;
    text-align: center;
    transition: none;
}


#skills-form .addmore {
	border-top: 1px dotted #ccc;
	padding-top: 10px;
	margin-top: 10px;
	clear: both;
	 overflow: hidden;
}

#skills-form .addmore-button {
	overflow:hidden;
	clear: both;
}

.addmore .skillstat label {
	font-size: 11px;
	display: inline-block;
	margin: 0;	
}

.addmore .skillstat input {
	display: inline-block;
	box-shadow: none;
	border: 0;
	font-weight: bold;	
}

.addmore select.margintop {
	margin-top: 15px
}

.ui-widget-content {
    background: none repeat scroll 0 0 #eee;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.086) inset;
    color: #404040;
}

.ui-slider-horizontal {
    height: 12px;
}

/*custom upload elements*/
.customfile-input { position: absolute; left: -999em; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}

.customfile { cursor: pointer; width: auto; display: inline-block; position: relative; }
.customfile.input-append .customfile-feedback { border-radius: 3px 0 0 3px;  }
.customfile.input-prepend .customfile-feedback { border-radius: 0 3px 3px 0; padding-left: 25px;}
.customfile.input-prepend .add-on, .customfile.input-append .add-on{
  color:#333;
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { border: 1px solid #CCCCCC; color: #808080; display: inline-block; font-size: 13px; line-height: 18px; padding: 4px; 
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

}
/* IE7 hack */
*+html .customfile-feedback { margin-top: 1px;}
/* EO Hack */
.customfile-feedback-populated { padding-left: 25px; background: url(/FO/images/icon-generic.gif) 5px center no-repeat; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; }

.customfile-button { /* IE7 and bellow hack*/ *margin-top: -1px; /* EO Hack */}
.customfile:hover .customfile-button, .customfile-focus .customfile-button  { background-position: 0 -15px; color: #333; text-decoration: none;}
.customfile-focus .customfile-button {}


/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(/FO/images/icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(/FO/images/icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(/FO/images/icon-zip.gif);}

.fileinput-button {
	position: relative;
	cursor: pointer;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
	left: -38px;
	top: -3px;
}

/* Bid styles */

.bid_item .head {
	border-bottom: 1px #eee solid;
	margin-bottom: 20px;
	padding: 3px 0 10px 0;
}

.bid_item .title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
}

.bid_item .title a {	
	color: #333;
}

.bid_item .title a:hover {	
	color: #0070cc;
}


.bid_item .priceblock {
	background-color: #eee;
	padding: 20px;
	border-radius: 4px;	
	border: #ddd solid 1px;
}

.bid_item .pricetitle {
	font-weight: bold;
}

.bid_item .pricetitle .min, .bid_item .pricetitle .max {
	font-weight: bold;
	color: #F47D31;
}

.bid_item.dp .pricetitle .min, .bid_item.dp .pricetitle .max {
	color: #C1B46C;
}

.bid_item.mp .priceblock:hover, .bid_item.dl .priceblock:hover, .bid_item.dp .priceblock:hover {
	background-color: #fff;
	transition:all ease 0.5s;
	-webkit-transition:all ease 0.5s;
	-o-transition:all ease 0.5s;
}

.bid_item.mp .priceblock:hover {
	border-color: #F47D31;
}

.bid_item.dl .priceblock:hover {
	border-color: #00A1A7;
}

.bid_item.dp .priceblock:hover {
	border-color: #C1B46C;
}



.bid_item .priceblock .col1 {
	width: 150px;
	float: left;
	text-align: right;
	margin-right: 20px;
}

.bid_item .priceblock .col2 {
	width: auto;
	float:left;
	text-align: left;
	margin-top: -4px;
}

.bid_item .priceblock .col2 select {
	width: 120px;
	margin-top: 8px;
}

.bid_item .priceblock .col2 input[type="text"] {
	width: 80px;
}


.bid_item .priceblock .setdate {
	clear: both;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.bid_item .small {
	font-size: 11px
}

.bid_item .agreebox {
	margin-top: -20px
}

.bid_item .agreebox label {
	font-size: 13px
}

.bid_item .agreebox .inline-label {
	display: inline;
	margin-right: 10px
}

.bid_item .agreebox .radio.inline {
	vertical-align: bottom;	
}

.bid_item .agreebox .trash {
	margin-top: 20px;	
}

.bid_item .agreebox .trash a {
	cursor: pointer;	
}


/*** Modal for Mission premium, devis premium, Devis liberte ***/

#a_o h2{
	font-weight: bold;
	letter-spacing: -1px;	
}

#a_o .summary{
	border: 1px dotted #ccc;
	border-left: 0;
	border-right: 0;
	padding: 10px 0;
	margin: 25px 0;	
}


/* summary inside a mission page */
.mission #a_o .summary, .correction #a_o .summary, #client #a_o .summary {
	border: 0;
	padding: 0;
	margin: 0;	
}


#a_o .summary ul li{
	float: left;
	margin-top: 3px;	
}

#a_o .summary ul li.pull-right{
	float: right;
	width: 190px;
	margin-top: 0;	
}

#a_o .summary span.bullet{
	color: #dadada;
	width: 10px;
	margin: 0 10px;
}

.a_o-details {
	padding: 10px;
	margin-bottom: 20px;
	background: #eee;
}

.a_o-details table {
	background-color: #fff;
	height: 210px;
	margin-bottom: 0px;
}

.a_o-details td {
	vertical-align: middle;
}

.a_o-details td.cta {
		text-align: center;
}

.a_o-details td.title {
		 padding: 15px 25px;
		 font-size: 18px;
    	 font-weight: 300;
}

.a_o-details td.countdown {
		 padding-top: 15px;
}

.a_o-details td.countdown em {
		 font-size: 30px;
}

.a_o-details .stat-block{
	background: url("/FO/images/hero-bg.png") repeat;
	height: 120px;	
}

.a_o-details .stat-block .section{
	text-align: center;
	color: #fff;
		font-weight: bold;
		padding-top: 20px;	
}

.a_o-details .stat-block .section p{
	text-transform: uppercase;	
	margin-top: 10px;
	font-weight: 300;
}

.a_o-details .stat-block .section p em{
	font-size: 30px;
	font-style: normal;	
}

.a_o-details .stat-block .section img.logo{
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 11px 5px -5px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    max-height: 73px;
    max-width: 73px;
    padding: 2px;
    position: relative;
    z-index: 100;
}

.a_o-details .note{
	background-color: #4F4F4F;
    border-bottom: 1px dashed #EEEEEE;
    border-top: 1px dashed #3A3A3A;
	height: 90px;
	color: #fff;
	position: relative;
}

.a_o-details .note:after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: -31px;
    background: url("/FO/images/show-addedbtn.png") no-repeat;
    width: 65px;
    height: 45px;
}

.mp .a_o-details .note {
background: rgb(244,125,49);
background: -moz-linear-gradient(top,  rgba(244,125,49,1) 50%, rgba(208,107,42,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(244,125,49,1)), color-stop(100%,rgba(208,107,42,1)));
background: -webkit-linear-gradient(top,  rgba(244,125,49,1) 50%,rgba(208,107,42,1) 100%);
background: -o-linear-gradient(top,  rgba(244,125,49,1) 50%,rgba(208,107,42,1) 100%);
background: -ms-linear-gradient(top,  rgba(244,125,49,1) 50%,rgba(208,107,42,1) 100%);
background: linear-gradient(to bottom,  rgba(244,125,49,1) 50%,rgba(208,107,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47d31', endColorstr='#d06b2a',GradientType=0 );
}

.mc .a_o-details .note {
background: rgb(153,102,102);
background: -moz-linear-gradient(top,  rgba(153,102,102,1) 50%, rgba(131,87,87,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(153,102,102,1)), color-stop(100%,rgba(131,87,87,1)));
background: -webkit-linear-gradient(top,  rgba(153,102,102,1) 50%,rgba(131,87,87,1) 100%);
background: -o-linear-gradient(top,  rgba(153,102,102,1) 50%,rgba(131,87,87,1) 100%);
background: -ms-linear-gradient(top,  rgba(153,102,102,1) 50%,rgba(131,87,87,1) 100%);
background: linear-gradient(to bottom,  rgba(153,102,102,1) 50%,rgba(131,87,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#996666', endColorstr='#835757',GradientType=0 );	
}

.dp .a_o-details .note {
background: rgb(193,180,108);
background: -moz-linear-gradient(top,  rgba(193,180,108,1) 50%, rgba(165,154,93,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(193,180,108,1)), color-stop(100%,rgba(165,154,93,1)));
background: -webkit-linear-gradient(top,  rgba(193,180,108,1) 50%,rgba(165,154,93,1) 100%);
background: -o-linear-gradient(top,  rgba(193,180,108,1) 50%,rgba(165,154,93,1) 100%);
background: -ms-linear-gradient(top,  rgba(193,180,108,1) 50%,rgba(165,154,93,1) 100%);
background: linear-gradient(to bottom,  rgba(193,180,108,1) 50%,rgba(165,154,93,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1b46c', endColorstr='#a59a5d',GradientType=0 );	
}

.dl .a_o-details .note {
background: rgb(47,160,168);
background: -moz-linear-gradient(top,  rgba(47,160,168,1) 50%, rgba(40,136,143,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(47,160,168,1)), color-stop(100%,rgba(40,136,143,1)));
background: -webkit-linear-gradient(top,  rgba(47,160,168,1) 50%,rgba(40,136,143,1) 100%);
background: -o-linear-gradient(top,  rgba(47,160,168,1) 50%,rgba(40,136,143,1) 100%);
background: -ms-linear-gradient(top,  rgba(47,160,168,1) 50%,rgba(40,136,143,1) 100%);
background: linear-gradient(to bottom,  rgba(47,160,168,1) 50%,rgba(40,136,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa0a8', endColorstr='#28888f',GradientType=0 );
}


.a_o-details .note p {
	margin: 20px 32px;
}

.a_o-details .note .name {
font-family: "Merriweather", georgia, serif; font-size: 17px; margin-top: 5px; color: #eee;
}

.a_o-details .note img.photo {
margin-right: 15px;
}


/*** Quizz ***/
#quizz .downtime {font-size: 49px;font-weight: 300;padding: 40px 0; position: relative;}
#quizz .downtime.less1 {color: #ef8015;}
#quizz .licon { left: 38%;}
#quizz h1{font-size: 19px; font-weight: 300;margin-top: 0;}
#quizz h1 .number {font-size: 31px; font-weight: bold;}
#quizz h1 .number span.on {font-size: 18px; font-weight: 300;}

#quizz-ok .check{
    background: url("/FO/images/sprite.png") no-repeat scroll 100% 0 transparent;
    display: block;
    height: 112px;
    margin: 0 auto;
    text-align: center;
    text-indent: -9999px;
    width: 112px;	
}

#quizz-not-ok .smiley {
	font-size: 100px;
	margin: 40px 0;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	}


/***  MAILBOX  ****/
.mailbox .nav-stacked .active {
	font-weight: bold;	
}

#mailbox-list .not-read, #mailbox-list .read {
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px 0;
}

#mailbox-list .not-read:hover, #mailbox-list .read:hover {
	background-color: #FCF8E3;
}

#mailbox-list . not-read {
	background-color: #fff;	
}

#mailbox-list .read {
	background-color: #eee;	
}

#mailbox-list .not-read a {
	color: #333;
	font-weight: bold;
}

#mailbox-list .read a {
color: #666;
}

#mailbox-list ul li {
	float: left;
}


#mailbox-list li.snd {
	width: 160px;
	padding: 0 10px;
}

#mailbox-list li.sbj {
	width: 60%;
	overflow:hidden;
	white-space:nowrap;
	margin-right: 10px;
}

#mailbox-list span.m {
	color: #999;
	font-weight: normal;
}

#mailbox-list li.d {
	width: 80px;
	text-align: right;
}

.mailbox-head-right {
	margin-top: 30px;
}

.mail-pagenum {
font-size: 13px; font-weight: bold; margin-right: 10px; display: inline;	
}

#emailView .status {
background: #eee; padding: 15px 0 5px 10px;	
}


#emailView .status .btn {
	margin-top: -5px;
}

.mailcontent {
	margin: 20px 0;
	font-size: 13px;
}

.wysihtml5-toolbar .btn-small{ font-weight: normal }
#replybox textarea {
	width: 98%;
	min-height: 140px;	
}


#mailbox-list.mod {
	min-height: 128px;
}

#mailbox-list.mod h4.{
	min-height: 128px;
}

#mailbox-list.mod h4.no-results {
	text-align: center;	
	margin-top: 50px;
}

/* RWD styles */



@media (max-width: 768px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* homepage styles */
  
  #marketing h1 {
    font-size: 26px;
	line-height: 40px;
	padding-left: 2%;
	padding-right: 2%;
}

#marketing h1 span {
    border-bottom-width: 2px;
	}
	
	#partner.span5, #web-writer.span7 {
		width: 100%;
		display: block;
	}
	
#quote-promote {background-position: center 107px;}	

#quote-promote h3.sectiondivider {
	border-top: 0;
	font-size: 20px;	
	text-align:left;
}

#quote-promote .lead {
	padding-right: 2%;
	padding-left: 2%;
	font-size: 15px;
	text-align:left;
}
	
	#about .carousel {
    height: auto;
}

}


@media (max-width: 1024px) {
  #web-writer #langlist{
		left: 11%;  
	  }	  
	
}

@media (max-width: 320px) {
	#web-writer h3 { font-size: 19px; padding-right: 4%;padding-left: 4%;}	
	#partner img {margin-left: 0;}
	#quote-promote button h4:before, #quote-promote button h4:after {border-top: 0;}
}

@media (max-width: 640px) {
	#web-writer h3 { padding-top: 70px;}
	#quote-promote {background-position: -20% 57px;}
	#myCarousel .lead, #quote-promote .lead {font-size: 14px; margin-left: 2%; margin-right: 2%;}
	#myCarousel h3, #quote-promote h3 {font-size: 19px;margin-left: 2%; margin-right: 2%;}	
	#marketing { margin-bottom: 0;}
	#marketing .freequote {display: none;}
	#quote-promote #premium, #quote-promote #liberte { padding: 20px 30px;}
	#about .carousel-control{top: 2%}
	#about .carousel-control.left {left: 4%}
	#about .carousel-control.right {right: 4%}
	#about .carousel {
    height: auto;
	padding: 0 3%;
}
}

@media (max-width: 480px) {
.media .pull-left,
  .media .pull-right {
    float: left;
	
  }
}

/*Newly added */
.flag.flag-pol {background-position: -48px -22px}
.flag.flag-po {background-position: -64px -22px}
.flag.flag-sp {background-position: 0 -11px}
.flag.flag-jap {background-position: 0 -22px}
.flag.flag-su {background-position: -16px -33px}